.popular_services{
    display: flex;
    margin: 75px 20px;
    
}
.home_headings{
    text-align: start;
    color:darkmagenta;
}
.services_headings{
    margin: auto;
    padding: 15px;
    font-size: 40px;
    font-weight: 700;
}
.services-card{
    padding: 1px;
    margin: 30px;
    background-color: black;
    box-shadow: 10px 10px;
}
@media screen and (max-width:767px){
    .popular_services{
        display: block;
        
    }
    .services-card{
        margin-top: 55px;
    }
    
}