.contact_form{
    width: 30%;
    margin-left: 100px;
}
.find{
    width: 50%;
    height: 400px;
    background-image: url("https://mastermechanic.ca/content/uploads/2023/05/location-generic-1.png");
    background-repeat: no-repeat;
    margin-left: 130px;
    margin-top: 40px;
    text-align: start;
}
.contact-page{
    display: flex;
    margin-bottom: 30px;
}
.submit-btn{
    margin: 20px;
    font-size: 22px;
    font-weight: 700;
}
.form-label{
    font-size: 20px;
    font-weight: 600;
}
.form-control{
    border: 2px solid ;
}
.form-select{
    border: 1px solid red;
}