.contact_form{
    margin: auto;
    width: 50%;
    font-weight: 800;
    color: white;
}
.contact-page{
    color: white;
    margin-bottom: 30px;
    margin: auto;
    background-image: url("https://mastermechanic.ca/content/uploads/2023/05/location-generic-1.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-blend-mode: overlay;
}
.submit-btn{
    margin: 20px;
    font-size: 22px;
    font-weight: 700;
}
.form-label{
    font-size: 25px;
    font-weight: 800;
}
.form-control{
    border: 2px solid ;
}
.form-select{
    border: 1px solid red;
}
.contact-page h2{
    color:black;
    font-size: 55px;
    font-weight: 800;
    padding-top: 20px;
}
.form-text{
    color: rgb(57, 175, 96);
    font-weight: 400;
    font-size: 15px;
}