.review{
    display: flex;
    background-color: rgba(233, 240, 237, 0.473);
    margin: 75px 0px;
    
}
.review_content{
    margin: auto;
    margin-top: 20px;
    color: rgba(95, 97, 95, 0.5);
    
}

@media screen and (max-width :767px){
    .review{
        display: block;

    }
}